@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body {
	height: 300%;
	scroll-behavior: smooth;
}

.App {
	text-align: center;
}

.big-logo{
	height: 14rem;
	padding: 1rem;
	margin: 1rem;
	vertical-align: middle;
	display: inline;
	-webkit-filter: drop-shadow(0 0 60px white);
  	filter: drop-shadow(0 0 60px white);
}
.big-text{
	font-family: 'Alfa Slab One';
	font-weight: 100;
	color: white;
	display: inline;
	font-size: 3rem;
}